
/* ---------------- ALGEMENE CUSTOM OPMAAK ---------------- */

/* CSS Document  */
*, *::after, *::before {
  box-sizing:border-box;  
  margin: 0%;
  padding: 0%;
}


/* shortcuts  */
:root{
  --p-padding: 2em;
  --border: none;
  --decoration: none;
  --list: none;
}


/* alle opmaak */
button {
  border:var(--border);
} 

ul{
  text-decoration:var(--decoration);
  list-style:var(--list) ;
}




/* ---------------- HEADER ---------------- */
/* -------------(bovenste stuk)--------------- */



/* ---------------- HAMBURGER MENU ---------------- */
/* hamburger menu icon opmaak */
header ul:nth-of-type(2) img:first-of-type{
  width: 3.2em;
  height: 3.1em;
  margin-bottom: -3em;
}


/* hamburger button invisible */
ul:nth-of-type(2) button:first-of-type{
  width: 0em;
}


/* ---------------- responsief (iphone 6/7/8) ---------------- */
/* 
@media (min-width: 600px) {
  .icon{
    margin: .8em -.9em;
  }
}

@media (min-width: 1400px) {
  .icon{
    margin: .8em -1.5em;
  }
} */



/*  in de hamburger menu opmaak  */
 .menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  background-color:#1A1A1Aff;
  padding-top: 1em;
  opacity: 0;
  transform: translateX(-100%); 
} 


/* hamburger button kruisje opmaak */
.menu button img:first-of-type{
  width: 4em;
  height: 4.5em;
  margin-bottom: -1em;
  margin-left: .5em;
}


/* hamburger button invisible */
.menu button{
  width: 0em;
}


/* search bar opmaak*/
.menu input{
  width: 26em;
  height: 4.5em;
  margin: 1.1em;
  border-radius: .3em;
  padding: 1.5em ;
  border:var(--border);
}


/* hr opmaak (bij search bar) 1e stuk*/
header:first-of-type hr:nth-of-type(1){
  border-color: gray;
  margin-left: 1em;
  width: 21.3em;
  border-bottom: 0em;
}



/* tekst opmaak (visit, explore etc..) */
.menu li a:nth-of-type(1) {
  margin: 2em ;
  color: white;
  text-decoration:var(--decoration);
  list-style:var(--list);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
}
 

/* opmaak pijlen & plaatsing van tekst */
.menu li:nth-of-type(2){
  margin: 3em 0em 2em;
}

.menu li:nth-of-type(2) img{
  margin: -2em;
  margin-left: 10em;
}


.menu li:nth-of-type(3){
  margin: 3em 0em;
}

.menu li:nth-of-type(3) img{
  margin: -2em;
  margin-left: 8em;
}


.menu li:nth-of-type(4){
  margin: 3em 0em;
}

.menu li:nth-of-type(4) img{
  margin: -2em;
  margin-left: 6em;
}



/* hr opmaak 2e stuk  */
header:first-of-type hr:nth-of-type(2){
  border-color: gray;
  margin-left: 1em;
  width: 21.3em;
  border-bottom: 0em;
}

/* afbeelding in hamburger menu  */
.online{
  margin: 2em;
  width: 20em;
}




/* ---------------- VOOR IN JAVAsCRIPT ---------------- */
.visible {
  opacity: 2;
  z-index: 1;
  transform: translateX(0%);
  position: fixed;
  transition: opacity 0.4s ease;
} 


.invisible {
  opacity: 0;
  z-index: 0;
  transform: translateX(0%);
} 





/* ---------------- HOOFDTEKST (louvre) ---------------- */
/*  header opmaak kleur + lengte  */
header{
  background-color:#000000;
  height: 7.5em;
}

header ul:nth-of-type(2) li:nth-of-type(2) a{
  text-decoration: none;
  color: #ffffff;
  letter-spacing: .1em;
  font-size: 2em;
  position: relative;
  right: .8em;
  bottom: -.55em;
}


/*  nav opmaak, plaatsing van nav balk */
header nav:first-of-type{
  display:flex;
  flex-direction:column;
  align-items: center;
}


/* ul opmaak */
header ul:nth-of-type(2){
  display: flex;
  justify-content: space-between;
  width: 96%;
}



/* ---------------- Button opmaak (tickets)---------------- */
header ul:nth-of-type(2) li:nth-of-type(3) button{
  background-color: #008573;
  color: #ffffff;
  font-size: .9em;
  padding: .6em;
  border-radius: 2em;
  width: 6.5em;
  margin: 1.3em 0em 1em;
}




/* ---------------- line opmaak (hr)---------------- */
header:first-of-type hr:nth-of-type(2){
  border-color: gray;
  width: 21em;
  border-bottom: 0em;
}




/* ---------------- 2e nav stuk (vist etc opmaak)---------------- */
header ul:nth-of-type(3){
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: .5em 0em 0em;
  font-size: 1.3em;
}


/* ---------------- tekst (vist etc opmaak)---------------- */
header ul:nth-of-type(3) a{
  color:#ffffff;
  text-decoration:var(--decoration);
  list-style:var(--list);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.77em;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/******************************/
/* **** Main - section 1 ***** */
/******************************/

/* ----------------1e web-display color---------------- */
.homepage section:first-of-type {
  background-color:#f6f6f6 ;
}


/* ---------------- background video  ---------------- */
.homepage section:nth-of-type(1) video{
  width: 100%;
  height: 34em;
  object-fit: cover;
}


/* ---------------- titel h2 (escape with...)----------------*/
.homepage section:nth-of-type(1) h2{
  position: absolute;
  bottom: 11.5em;
  color:white; 
  font: 500 1.88em/1.27 LouvreSerif,Georgia,Times New Roman,serif;
  margin: 1.7em 2em;
  margin-left: 3em;
}



/* ---------------- 1e in main button (book tickets) ----------------*/
.homepage section:nth-of-type(1) button {
  background-color: #008573;
  color: white;
  font-size: 1em;
  padding: .7em;
  border-radius: 2em;
  width: 8em;
  position: relative;
  left: 8em;
  top: -15.5em;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/******************************/
/* **** Main - section 2 ***** */
/******************************/

/*  2e web-display background-color (info covid-19 */
.homepage section:nth-of-type(2){
  background-color:#f6f6f6;
}


/* 2e info-image (covid-19) */
.homepage section:nth-of-type(2) img{
  width: 3em;
  height: 2.5em;
  margin-left: 2.9em;
  margin-top: 1.8em;
}



/* 2e (tekst covid h3 )*/
.homepage section:nth-of-type(2) h3{
   font: 1em/1.5 'Montserrat',Verdana,sans-serif;
   margin: -3.2rem 5rem;
   margin-left: 6.7em;
}


/* 2e (tekst time-slot.... p element */
.homepage section:nth-of-type(2) p{
  font: 400 1em/1.56 Roboto,Open Sans,Arial,Helvetica,sans-serif;
  font-weight: bolder;
  margin: 3em 1em -0.5em;
  padding:var(--p-padding);
}


/* 2e (Find out more..) link */
.homepage section:nth-of-type(2) a{
  padding:var(--p-padding);
  color: #000000;
  margin: 2rem 1rem;
}


/* 2e (hr stuk in section 2) */
.homepage section:nth-of-type(2) hr:nth-of-type(1){
  border-color: rgba(128, 128, 128, 0.349);
  margin-top: 4em;
  border-bottom: 0em;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/******************************/
/* **** Main - section 3e **** */
/******************************/

/* 3e (tekst h2 highlights....) */
section:nth-of-type(3) h2 {
  margin: 3em 1em;
  font: 400 1.5em/1.27 'LouvreSerif',Georgia,Times New Roman,serif;
  font-size: 2em;
}


/* 3e (scroll gallery) bron: flexbox oefening*/
section:nth-of-type(3) ul{
  display: flex;
  overflow: auto;
}


/* 3e (img wordt kleiner met dezelfde formaat) bron: flexbox oefening*/
section:nth-of-type(3) li{
  flex-shrink: 0;
}


/* tekst op img (highlights....)*/
section:nth-of-type(3) a:first-of-type{
  color: white;
  position: absolute;
  margin: 20em 6em;
  margin-left: 2em;
}


/* img opmaak (highlights....) */
section:nth-of-type(3) li img{
  margin: -.4em;
  width: 21em; 
  height: 26em;
  border-radius: 2em;
  padding:1em;
}


@media (min-width: 600px) {
  section:nth-of-type(3) li img{
    width: 38em;
    height: 50em;
  }
}


/* 3e (hoofd tekst h3) */
section:nth-of-type(3) h3{
  font: 0.875em	 'Montserrat',Verdana,sans-serif;
  letter-spacing: .13em;
  margin: 5.5em 3em 0em;
  font-weight: bold;
}


/* 3e (tekst p element) */
section:nth-of-type(3) p{
  font-family:'EB Garamond',Georgia,Times New Roman,serif;
  color: #909090;
  line-height: 1.677em;
  font-size: 1.235em;
  margin: 0em 0em 3em;
  padding:var(--p-padding);
}


/* 3e (tekst dikte) */
strong{
  color: #000000;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/***************************************/
/* *** 4e (scroll background img) **** */
/***************************************/

/* background img (Bron: Daan studentassistent)*/
.scroll{
  background-image: url("/images/mainimg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 28em;
  /* margin-bottom: 5em; */
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/******************************/
/* ******* 5e GALERY ******* */
/******************************/

/* 5e (galary) Bron:https://www.youtube.com/watch?v=zgXHgKad7N0 */
.container{
  background-color: #000000;
}


.titel h2{
  color:white; 
  font-weight: lighter;
  font-size: 2.2em;
  padding: 1.5em;
}


/* @media (min-width: 600px) {
  .titel h2{
    margin: 7em 0em 0em;
  }
} */


.image_gallery{
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
}


div img{
  height: 12em;
  width: 100%;
}

/* @media (min-width: 600px) {
  div img{
    height: 20em;
  }
} */


/* button explore.. */
section:nth-of-type(5) button{
  background-color: white;
  color: black;
  font-size: 1em;
  padding: .9em;
  border-radius: 2em;
  width: 8em;
  position: relative;
  top: -7em;
  left: 7.5em;
}


/* @media (min-width: 600px) {
  section:nth-of-type(5) button{
    top: -9em;
    left: 16em;
  }
} */

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/******************************/
/* ******** FOOTER ********* */
/******************************/

/* footer opmaak */
footer{
  background-color: black;
  padding:var(--p-padding);
}

/* 6e "about" opmaak */
/* footer :first-child ul a{
  color: red;
  margin: -1em 0em 1em;
  font-family:'EB Garamond',Georgia,Times New Roman,serif;
  font-size: 1.1em;
  padding: 0em 0em 1em;
} */

/* (follow us) link */
footer h3{
  color: white;
  font-family:'EB Garamond',Georgia,Times New Roman,serif;
  font-size: 1.1em;
  margin: 3em 0rem;
}

/* social media links/icons */
footer img{
  width: 4em;
}

/* hr opmaak in footer */
footer hr{
  border-color: gray;
  border-bottom: 0em;
  margin: 1.1em 0rem;
  width: 20em;
}

/* about.. opmaak in footer */
footer ul:first-of-type li {
  margin: 2.5em 0em 2em;
}

footer a{
  color: #ffffff;
  margin: 2.5em 0em 2em;
  text-decoration: none;
}

/* legal.. opmaak in footer */
footer ul {
  margin-top: 3em;
  margin-bottom: 3em;
}


/* footer ul li{
  margin-top: .3em; 
} */



/* Footer img (uiteinde) */
footer ul img{
  width: 15em;
  margin: 8em 1.5em 1em;
}

/* @media (min-width: 600px) {
  footer hr:first-of-type{
    width: 36em;
  }
}

@media (min-width: 600px) {
  footer:nth-of-type(1) ul:nth-of-type(2) img{
    width: 15em;
    margin: 8em 10em 1em;
  }
} */


/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


/* **************** 2e pagina van website ***************** */

/* ********************* Mona Lisa ********************** */

/* opmaak 1e section*/
.monalisa section:first-of-type{
  background-color: #1a1a1a;
  display: grid;
  height: 50em;
}


/* hoofd tekst opmaak h2 (from the mona..) */
.monalisa section:nth-of-type(1) h2:first-of-type{
  color: #ffffff;
  font: 500 1.88em/1.27 LouvreSerif,Georgia,Times New Roman,serif;
  text-align: center;
  margin: 4.5em 1em;
  margin-left: 1.5em;
}


/* p tekst (the salle....)*/
.monalisa section:nth-of-type(1) p:first-of-type{
  color: #ffffff;
  font-family: LouvreSerif,Georgia,Times New Roman,serif;
  text-align: center;
  margin-top: -7.5em;
}


/* img (mona lisa portret...)*/
.monalisa section:nth-of-type(1) img:first-of-type{
  width: 100%;
  height: 29em;
  padding: 2em;
  background-color: #1a1a1a;
}



/* p element (room 711...)*/
.monalisa section:nth-of-type(2) p:nth-of-type(1){
 margin-top: 7.5em;
 font-size: 1em;
 padding: .10em 2em; 
}


.monalisa section:nth-of-type(3) p:nth-of-type(1){
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1em;
  padding: 2.5em;
  text-align: center;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/******************************/
/* **** "a did you know" blue **** */
/******************************/

/* hr styling */
/* .monalisa main hr{
  border-color: grey;
  border-top: 0em;
} */


/* "did you know" styling */
.monalisa section:nth-of-type(4){
  background-color: #f6f6f6 ;
}


/* "did you know" styling tekst*/
.monalisa section:nth-of-type(4) h4:first-of-type{
  padding: var(--p-padding);
  color: #0000e0;
  position: relative;
  top: 2em;
}


/* "did you know" styling line*/
.monalisa section:nth-of-type(4) hr:first-of-type{
  background-color: #f6f6f6;
  opacity: 20%;
  position: relative;
  top: -.6em;
  left: 9em;
  width: 13em;
}


/* "mona lisa" styling tekst*/
.monalisa section:nth-of-type(4) h3:first-of-type{
  font-size: 1.5em;
  font-weight: lighter;
  padding: 1.2em;
  margin: .5em 0em;
}


/* "tekst p " styling */
.monalisa section:nth-of-type(4) p:first-of-type{
  padding: 1.2em;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  color: #000000d0;
  font-weight: lighter;
  margin-top: -2.2em;
}


/* "img" styling image*/
.monalisa section:nth-of-type(4) img:first-of-type{
  padding: 1em ;
  height: 18em ;
  margin: 1.5em 0em 3em;
  width: 100%; 
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/******************************/
/* **** "a new blue" **** */
/******************************/

/* artikelen h2 + p teksten */
.monalisa section:nth-of-type(5) h2:nth-of-type(1){
  font: 500 1.88em/1.27 LouvreSerif,Georgia,Times New Roman,serif;
  margin: 2em 6em 0em;
  margin-left: 1em;
}

.monalisa section:nth-of-type(5) p{
  padding: var(--p-padding); 
  margin-top: -1em;
}


/* artikelen h2 + p teksten */
.monalisa section:nth-of-type(5) h2:nth-of-type(2){
  font: 500 1.88em/1.27 LouvreSerif,Georgia,Times New Roman,serif;
  margin: .9em 2em 0em;
  margin-left: 1em;
}


/* artikelen h2 + p teksten */
.monalisa section:nth-of-type(5) h2:nth-of-type(3){
  font: 500 1.88em/1.27 LouvreSerif,Georgia,Times New Roman,serif;
  margin: .9em 2em 0em;
  margin-left: 1em;
}

/* "img" styling image*/
.monalisa section:nth-of-type(5) img:first-of-type{
  height: 35em ;
  margin-top: 3em ;
  width: 100%;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

/******************************/
/* **** "did you know" red **** */
/******************************/


/* hr styling
.monalisa main hr{
  border-color: grey;
  border-top: 0em;
} */


/* "did you know" styling */
.monalisa section:nth-of-type(6){
  background-color: #f6f6f6 ;
}


/* "did you know" styling tekst*/
.monalisa section:nth-of-type(6) h4:first-of-type{
  padding: var(--p-padding);
  color: red;
  position: relative;
  top: 2em;
}


/* "did you know" styling line*/
.monalisa section:nth-of-type(6) hr:first-of-type{
  background-color: #f6f6f6;
  opacity: 20%;
  position: relative;
  top: -.6em;
  left: 9em;
  width: 13em;
}


/* "mona lisa" styling tekst*/
.monalisa section:nth-of-type(6) h3:first-of-type{
  font-size: 1.5em;
  font-weight: lighter;
  padding: 1.3em;
  margin: .7em 0em;
}


/* "p" styling tekst*/
.monalisa section:nth-of-type(6) p:first-of-type{
  padding: 1.3em;
  font-size: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  color: #000000d0;
  font-weight: lighter;
  margin-top: -2.8em;
}


/* "img" styling image*/
.monalisa section:nth-of-type(6) img:first-of-type{
  padding: 1em ;
  height: 20em ;
  margin: 1.5em 0em 6em;
  width: 100%;
}


.monalisa section:nth-of-type(6) p:nth-of-type(2){
  margin-top: -11em;
  font-size: 1em;
  padding: 5em 2em; 
 }



